.titulo {
    color: #8edeff;
    text-align: center;
    align: center;
}

.img {
    width: 500px;
    height: 500px;
    display:block;
    margin: 0 auto;
    align:center;
}

.paragrafo {
    color: #ff1382;
    text-align: center;
    align: center;
}